### **PySpark**

**Por: José María Manzano Ortega**.

## **ÍNDICE**

En este *notebook*:
1. Se aprende a trabajar con Apache Spark mediante Python.
2. Se ven las opciones que tenemos para trabajar con los datos en Spark.
3. Se cargarán los datos desde un fichero y se trabajará con estos conjuntos de datos de Big Data.


Contenidos:
1. Spark con Python (PySpark): Instalación y primer programa.    
2. Sesión en PySpark.
3. Lectura de datos de un fichero.
4. Trabajar con DataFrames.  
5. Aplicar consultas SQL sobre DataFrames.

##**1. SPARK CON PYTHON (PYSPARK): Instalación y primer programa.**

###**1.1. Instalar Java, Apache Spark, PySpark y Findspark.**

Los programas de python que vamos a ver necesitarán tener instalado **Java** y **Apache Spark**. Java es necesario para poder ejecutar Spark.
Con el siguiente código, le indicamos a Google Colaboratory que instale Apache Spark (Java ya está instalado).

In [1]:
#Nos descargamos Apache Spark con Hadoop
!wget -q --show-progress https://downloads.apache.org/spark/spark-3.5.3/spark-3.5.3-bin-hadoop3.tgz

#Instalamos Apache Spark
!tar xf spark-3.5.3-bin-hadoop3.tgz

spark-3.5.3-bin-had 100%[===================>] 382.29M  22.4MB/s    in 19s

Python ya está instalado. Ahora instalamos [`PySpark`](https://spark.apache.org/docs/latest/api/python/index.html) que, como hemos dicho, nos permite usar Spark desde Python.
También vamos a tener que instalar [`Findspark`](https://github.com/minrk/findspark), que es
 una biblioteca de Python que nos ayuda a usar Spark en un cuaderno (*notebook*).

In [2]:
!pip install pyspark   #Instalamos Spark para Python
!pip install findspark #Instalamos FindSpark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)

Una vez que están todos los programas y bibliotecas están instaladas, lo siguiente que debemos hacer es darle valores a las variables de entorno, para indicar dónde están instalados Java y Spark. Estas variables de entorno, las podemos modificar cuando instalemos Spark y Java y, la forma de darles valores, depende de nuestro sistema operativo (Windows, Mac, Linux). No obstante, en estos ejemplos, nosotros lo haremos desde Python.

También hay que tener en cuenta que hay que especificar la ruta completa de dónde están instalados ambos programas.

In [3]:
#Declaramos las variables de entorno
import os
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/default-java"
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.3-bin-hadoop3"

Ya sólo queda decirle a `findspark` la carpeta en la que está Spark, para enlazarlo con Python.

In [4]:
#Indicamos donde está Spark
import findspark
findspark.init("spark-3.5.3-bin-hadoop3")#SPARK_HOME

###**1.2. Primer programa en Spark**


Una vez que en nuestro entorno de trabajo tenemos todo instalado y configurado, ya podemos empezar a trabajar con Spark desde Python. En el inicio de todo programa en PySpark, tendremos que crear una sesión.

In [5]:
#Creamos una sesión de Spark para poder trabajar
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[2]").getOrCreate()

Ya está todo preparado para probar Spark. Para ello, vamos a crear una variable binaria de forma aleatoria con un DataFrame de Pandas.

Lo convertiremos a un DataFrame de Spark para comprobar que todo funciona y lo mostraremos por pantalla.

In [6]:
import random
import pandas as pd

#Creamos una variable aleatoria de valores binarios
varBinaria=[{"Binaria": random.choice("01")} for x in range(100)]

#Convertimos la variable en un DataFrame de Pandas
df = pd.DataFrame(varBinaria)

#Convertimos el DataFrame de Pandas a Spark, y lo mostramos
ddf = spark.createDataFrame(df)
ddf.show(10)

+-------+
|Binaria|
+-------+
|      1|
|      1|
|      0|
|      1|
|      0|
|      1|
|      0|
|      1|
|      1|
|      0|
+-------+
only showing top 10 rows

Los DataFrames de Sparks son muy similares a los DataFrame de Pandas. Aunque hay una diferencia notable, y es que los DataFrame de Spark pueden estar repartidos por varios ordenadores y los de Pandas sólo pueden estar en un solo ordenador. No obstante, se puede pasar de uno al otro sin mucho problema e incluso de forma eficiente con [Apache Arrow](https://spark.apache.org/docs/latest/sql-pyspark-pandas-with-arrow.html), siempre que los datos quepan en la memoria de sólo un ordenador.



Veamos cómo:

In [7]:
# Como antes, guardamos la variableBinaria en un DataFrame de Pandas
pdf = pd.DataFrame(varBinaria)

# Convertimos el DataFrame de Pandas a Spark
sdf = spark.createDataFrame(pdf)

# Convertimos el DataFrame de Spark DataFrame a uno de Pandas y lo mostramos
psdf = sdf.select("*").toPandas()
psdf.head()

  Binaria
0       1
1       1
2       0
3       1
4       0

##**2. SESIÓN EN PYSPARK.**

La puerta de entrada a toda la funcionalidad de Spark es la clase `SparkSession`. Para crear una sesión en Spark, usamos `SparkSession.builder`. En informática, una sesión es un intercambio de información interactiva semipermanente entre dos o más entidades, en nuestro caso entre Spark y Python.  Los atributos más comunes usados con [`SparkSession.builder`](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SparkSession.Builder) son:

*   `appName(nombre)` − Para darle un nombre a la aplicación.

*   `config(clave, valor)` − Para darle un valor a una propiedad de la configuración.

*   `master(valor)` − Para indicar la dirección en Internet (URL) del nodo maestro del clúster de ordenadores. Para ejecutarlo en nuestro ordenador personal se hace con `local` para ejecutarlo de forma local con una sola hebra de ejecución. Con `local[n]` se ejecuta localmente con `n` hebras. Si usamos `local[*]` ejecuta Spark en nuestro ordenador personal con tantas hebras como permita nuestra máquina.

*   `getOrCreate()` - Este método obtiene una sesión de Spark existente o, si no hay ninguna, la crea.

In [8]:
#Creamos una sesión de Spark para poder trabajar
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("Ejemplo básico PySpark") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

##**3. LECTURA DE DATOS DE UN FICHERO.**

Vamos a aprender cómo cargar un fichero en un DataFrame de Spark. Para ello vamos a trabajar con una versión del problema **SUSY**.

El conjunto de datos **SUSY**, compuesto por 5,000,000 de instancias y 18 atributos. El objetivo es distinguir entre una señal que produce partículas supersimétricas (SUSY), valor de la variable clase igual a 1, y una que no, valor de la clase igual a cero.

No obstante, para aprender, vamos a usar sólo 10,0000 instancias para entrenamiento y otro tanto para test.

Antes que nada, vamos a cargar los datos en Google Colab.

In [9]:
#Nos descargamos los ficheros de datos en Google Colab
!wget -nv --no-check-certificate 'https://docs.google.com/uc?export=download&id=1HOrM49tCLA_NqHyD_ps_cv483FPN7aWo' -O susy-10k-tra.csv
!wget -nv --no-check-certificate 'https://docs.google.com/uc?export=download&id=1HT80d5cwU7HMi2XK8CNgxgHvxRZEZB_d' -O susy-10k-tst.csv
#Vamos a mostrar la cabecera de los ficheros y dos filas, para comprobar
#que se han bajado correctamente.
!head -3 susy-10k-tra.csv
!head -3 susy-10k-tst.csv

2024-09-26 14:45:16 URL:https://drive.usercontent.google.com/download?id=1HOrM49tCLA_NqHyD_ps_cv483FPN7aWo&export=download [3463157/3463157] -> "susy-10k-tra.csv" [1]
2024-09-26 14:45:19 URL:https://drive.usercontent.google.com/download?id=1HT80d5cwU7HMi2XK8CNgxgHvxRZEZB_d&export=download [3469204/3469204] -> "susy-10k-tst.csv" [1]
uno,dos,tres,cuatro,cinco,seis,siete,ocho,nueve,diez,once,doce,trece,catorce,quince,dieciseis,diecisiete,dieciocho,clase
0.6433419585227966,1.3615427017211914,0.6828370690345764,0.48453789949417114,-0.32587578892707825,-0.8524075746536255,1.145269513130188,0.8196632862091064,0.40248867869377136,1.325475811958313,0.7232717275619507,0.6548330783843994,0.8034266233444214,0.37070924043655396,0.7308408617973328,0.5756281018257141,1.4113106727600098,0.19226300716400146,1.0
1.2374616861343384,-0.4839438199996948,1.3800559043884277,1.6685774326324463,0.4818389117717743,-0.6302737593650818,0.6783822178840637,-0.43130290508270264,0.34755226969718933,-0.014657160267233849,1.3650861978530884,1.040429711341858,0.6763473749160767,0.6026328206062317,1.36842942237854,0.7144116759300232,0.9274933934211731,0.16320399940013885,1.0
uno,dos,tres,cuatro,cinco,seis,siete,ocho,nueve,diez,once,doce,trece,catorce,quince,dieciseis,diecisiete,dieciocho,clase
1.6795326471328735,-1.3285973072052002,1.721287727355957,0.8961411714553833,0.7851014137268066,-0.300307035446167,2.4243409633636475,0.24690665304660797,3.021253824234009,-2.0464718341827393,1.9866414070129395,2.2912914752960205,1.0234774351119995,2.0351436138153076,2.139514207839966,2.923895835876465,1.4491009712219238,0.2602680027484894,1.0
0.8576836585998535,0.10346849262714386,-0.15959890186786652,0.49158814549446106,-0.46780043840408325,1.6336811780929565,1.2118911743164062,1.1086699962615967,1.492547631263733,-0.5306073427200317,0.6292113065719604,1.0887541770935059,1.5354979038238525,0.5368104577064514,0.7166863679885864,0.8678085207939148,1.2548242807388306,0.5520399808883667,1.0

Una vez que lo tenemos en disco vamos a usar el método `read` de la sesión (variable `spark`) para leer ambos ficheros.

Si nos fijamos, para leer el primer fichero, se usan métodos con distintas opciones, por ejemplo, con `load()` indicamos el nombre del fichero. Con `format()` se indica que es un fichero CSV. Con `option()` le indicamos que obtenga el esquema de los datos (`inferSchema`) y que el fichero tiene una primera fila de cabecera con el nombre  las columnas (`header`). Se pueden indicar muchas más opciones, como la codificación, los separadores, comentarios, etc.

También podemos abrir distintos tipos de formatos de ficheros (`json, parquet, orc, libsvm, csv, text`) en local, o desde una base de datos (usando `JDBC`) o usando HDFS.

En la lectura del segundo fichero, hemos usado directamente el método `csv()` para leerlo. Al final de leerlos mostramos las 3 primeras líneas con el método `show()`.

In [10]:
#Leemos el conjunto de entrenamiento
dfTra = spark.read \
    .format("csv") \
    .option("inferSchema",True) \
    .option("header", True) \
    .load("susy-10k-tra.csv")
dfTra.show(3)

#Leemos el conjunto de test
dfTst = spark.read.csv('susy-10k-tst.csv',
                     inferSchema=True,
                     header=True)
dfTst.show(3)

+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|               uno|                dos|               tres|             cuatro|               cinco|               seis|             siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|
+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|0.6433419585227966| 1.3615427017211914| 0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255| 1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0|
|1.2374616861343384|-0.4839438199996948| 1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818|0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|
|1.3433129787445068|  0.783230721950531|-0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643|0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|
+------------------+-------------------+-------------------+-------------------+--------------------+-------------------+------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 3 rows

+------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----+
|               uno|                dos|                tres|             cuatro|               cinco|              seis|             siete|               ocho|             nueve|               diez|              once|              doce|             trece|           catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|
+------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----+
|1.6795326471328735|-1.3285973072052002|   1.721287727355957| 0.8961411714553833|  0.7851014137268066|-0.300307035446167|2.4243409633636475|0.24690665304660797| 3.021253824234009|-2.0464718341827393|1.9866414070129395|2.2912914752960205|1.0234774351119995|2.0351436138153076| 2.139514207839966| 2.923895835876465|1.4491009712219238| 0.2602680027484894|  1.0|
|0.8576836585998535|0.10346849262714386|-0.15959890186786652|0.49158814549446106|-0.46780043840408325|1.6336811780929565|1.2118911743164062| 1.1086699962615967| 1.492547631263733|-0.5306073427200317|0.6292113065719604|1.0887541770935059|1.5354979038238525|0.5368104577064514|0.7166863679885864|0.8678085207939148|1.2548242807388306| 0.5520399808883667|  1.0|
| 0.679413378238678| 0.6467429399490356| -0.7623209953308105| 1.0956929922103882| 0.04633910581469536|1.1650936603546143|1.0221043825149536| -1.074870228767395|0.8398934602737427| 1.1044260263442993|0.7407406568527222|0.8633846044540405|1.0343234539031982|               0.0| 0.770002007484436|0.4708144962787628|1.4442930221557617|0.24737399816513062|  1.0|
+------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 3 rows

##**4. TRABAJAR CON DATAFRAMES.**

Ya que tenemos nuestros datos en DataFrames de Spark, vamos a aprender a trabajar con ellos.

###**4.1. Navegando por los DataFrames.**

Para ver el número de filas que tenemos, podemos usar el método `.count()` y para ver el número de columnas (variables) podemos usar la propiedad `.columns` y ver su tamaño. Para ver nombre y el tipo de dato de cada columna, esto es, el esquema, podemos usar el método `.printSchema()`.

Para mostrar el DataFrame podemos usar el método `.show()` como hemos hecho anteriormente. También lo podemos usar en combinación del método `.describe()` que nos calcula un resumen estadístico del DataFrame.

In [11]:
#Mostramos el tamaño del fichero de entrenamiento
print ("TRAIN: ", len(dfTra.columns), "variables y" , dfTra.count(), "instancias.")
#Mostramos el esquema y un resumen estadístico del fichero de entrenamiento
print ("Esquema de dfTra:")
dfTra.printSchema()
print ("Resumen estadístico dfTra:")
dfTra.describe().show()

#Mostramos el tamaño del fichero de test
print ("\nTEST: ", len(dfTst.columns), "variables y" , dfTst.count(), "instancias.")
#Mostramos el esquema y un resumen estadístico del fichero de test
print ("Esquema de dfTst:")
dfTst.printSchema()
print ("Resumen estadístico dfTst:")
dfTst.describe().show()

TRAIN:  19 variables y 10000 instancias.
Esquema de dfTra:
root
 |-- uno: double (nullable = true)
 |-- dos: double (nullable = true)
 |-- tres: double (nullable = true)
 |-- cuatro: double (nullable = true)
 |-- cinco: double (nullable = true)
 |-- seis: double (nullable = true)
 |-- siete: double (nullable = true)
 |-- ocho: double (nullable = true)
 |-- nueve: double (nullable = true)
 |-- diez: double (nullable = true)
 |-- once: double (nullable = true)
 |-- doce: double (nullable = true)
 |-- trece: double (nullable = true)
 |-- catorce: double (nullable = true)
 |-- quince: double (nullable = true)
 |-- dieciseis: double (nullable = true)
 |-- diecisiete: double (nullable = true)
 |-- dieciocho: double (nullable = true)
 |-- clase: double (nullable = true)

Resumen estadístico dfTra:
+-------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+------------------+
|summary|                uno|                 dos|               tres|             cuatro|               cinco|                seis|               siete|               ocho|               nueve|               diez|               once|                doce|               trece|           catorce|             quince|           dieciseis|          diecisiete|           dieciocho|             clase|
+-------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+------------------+
|  count|              10000|               10000|              10000|              10000|               10000|               10000|               10000|              10000|               10000|              10000|              10000|               10000|               10000|             10000|              10000|               10000|               10000|               10000|             10000|
|   mean| 1.0105844479709865|0.002135145083703901|0.03153180114199349| 0.9986909561932087|-0.00378352357285...|-0.01162124044939...|   1.022859420047514|0.00328762106849681|  1.0164317971547725|0.01666437698438058| 1.0035032935500146|   1.007670896884054|  1.0027721071474254|0.9951626548908301| 1.0018501489117742|  1.0043849515310954|  0.9994148597975465|  0.2284110277385793|            0.4907|
| stddev| 0.6885877649554591|   0.999561730431337|  1.001129772632101| 0.6465074491186091|    0.99966560096368|  0.9912936162083033|  0.8863104987757311| 0.9950585657130735|  0.9210862697361398| 1.0343269741843268|   0.63322994049121|  0.5895704842618016|  0.4734273635040888|0.8612098724907649| 0.6261232019932594|  0.6262698270290564| 0.43809601590470876| 0.19856168883032754|0.4999385000681437|
|    min|0.26404643058776855| -2.0972509384155273|-1.7344238758087158|0.42862239480018616|  -2.055574417114258|  -1.733445644378662|0.015159129165112972|-1.7269458770751953|1.702003146419883...| -6.555927276611328|0.28486454486846924|0.017965905368328094|0.025821596384048462|               0.0|0.09629503637552261|0.005537927616387606|3.952852275688201E-4|2.907410089392215E-5|               0.0|
|    max|   9.08115291595459|  2.0947682857513428| 1.7348058223724365|  8.538097381591797|   2.056532621383667|  1.7344598770141602|  10.350308418273926| 1.7404515743255615|   9.669214248657227| 10.429891586303711| 11.454028129577637|   8.885257720947266|    4.20127534866333| 4.705632209777832| 11.496587753295898|   4.833719253540039|  1.5916192531585693|  0.9693599939346313|               1.0|
+-------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+------------------+


TEST:  19 variables y 10000 instancias.
Esquema de dfTst:
root
 |-- uno: double (nullable = true)
 |-- dos: double (nullable = true)
 |-- tres: double (nullable = true)
 |-- cuatro: double (nullable = true)
 |-- cinco: double (nullable = true)
 |-- seis: double (nullable = true)
 |-- siete: double (nullable = true)
 |-- ocho: double (nullable = true)
 |-- nueve: double (nullable = true)
 |-- diez: double (nullable = true)
 |-- once: double (nullable = true)
 |-- doce: double (nullable = true)
 |-- trece: double (nullable = true)
 |-- catorce: double (nullable = true)
 |-- quince: double (nullable = true)
 |-- dieciseis: double (nullable = true)
 |-- diecisiete: double (nullable = true)
 |-- dieciocho: double (nullable = true)
 |-- clase: double (nullable = true)

Resumen estadístico dfTst:
+-------+-------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------------+
|summary|                uno|                 dos|                tres|            cuatro|               cinco|                seis|               siete|                ocho|               nueve|                diez|              once|                doce|               trece|           catorce|             quince|           dieciseis|          diecisiete|           dieciocho|              clase|
+-------+-------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------------+
|  count|              10000|               10000|               10000|             10000|               10000|               10000|               10000|               10000|               10000|               10000|             10000|               10000|               10000|             10000|              10000|               10000|               10000|               10000|              10000|
|   mean| 0.9320106867372989|-0.02446008473849...|-0.00279733429351...|0.9651433235794306|-0.01755370002964...|0.007794956488370645|  0.9053521824650467|0.012732784124973114|  0.9413687320105568|-0.02950434751152...|0.9538334141403436|  0.9406001203053631|  0.9894138016706333|0.9910862069570343| 0.9567301012784243|  0.9629238672500942|  0.9966045047627675| 0.21292803585089978|             0.3366|
| stddev| 0.6323399577059364|  1.0293410081058787|  1.0097811572280877|0.6130319740234437|  1.0201197010694754|   0.996034878472626|  0.7760915875328087|  0.9965130963178218|  0.8217557519245278|  0.8774311101865347|0.5863620599864524|  0.5442741216204154|  0.4688657496274363|0.8436720346812803| 0.5805364606975197|   0.601121881584943| 0.43850248017629967| 0.18837965954220104|0.47257038870122536|
|    min|0.25550660490989685| -2.0952916145324707| -1.7346282005310059|0.4286716878414154| -2.0578811168670654| -1.7339812517166138|0.003046659752726555|  -1.726658821105957|2.805099211400374...|  -9.301900863647461|0.2673070430755615|0.012789000757038593|0.025026028975844383|               0.0|0.12312130630016327|0.004476308822631836|3.633885935414582...|4.527159944700543E-6|                0.0|
|    max|     7.672607421875|  2.0981152057647705|  1.7348334789276123|12.304210662841797|    2.05745530128479|  1.7342500686645508|  11.078539848327637|  1.7406558990478516|   8.842642784118652|   9.253178596496582| 7.947257995605469|   7.718428134918213|    3.88989520072937|11.134321212768555| 7.9750871658325195|    8.59022331237793|  1.5914267301559448|  0.9614160060882568|                1.0|
+-------+-------------------+--------------------+--------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------------+


Para trabajar con los Dataframes podemos quedarnos con una o varias columnas usando el método `select()`. Para identificar a las columnas podemos usar una cadena con el nombre de la columna, o usando el nombre de la columna como una propiedad del DataFrame, usando el DataFrame como un diccionario e indicando como clave el nombre de la columna, o bien, usando el DataFrame e indicando el número de columna, teniendo en cuenta que empezamos a contar desde cero.

In [12]:
#Veamos distintas formas de quedarnos con las variables de entrada segunda,
#cuarta y sexta.
dfTra.select('dos','cuatro','seis').show(5)
dfTra.select(dfTra.dos,dfTra.cuatro,dfTra.seis).show(5)
dfTra.select(dfTra['dos'],dfTra['cuatro'],dfTra['seis']).show(5)
dfTra.select(dfTra[1],dfTra[3],dfTra[5]).show(5)

+-------------------+-------------------+-------------------+
|                dos|             cuatro|               seis|
+-------------------+-------------------+-------------------+
| 1.3615427017211914|0.48453789949417114|-0.8524075746536255|
|-0.4839438199996948| 1.6685774326324463|-0.6302737593650818|
|  0.783230721950531|  1.475182294845581|0.43646135926246643|
| 0.9232335686683655|  0.519090473651886|-1.6212221384048462|
|-0.4539290964603424|  2.352872848510742|0.03150284290313721|
+-------------------+-------------------+-------------------+
only showing top 5 rows

+-------------------+-------------------+-------------------+
|                dos|             cuatro|               seis|
+-------------------+-------------------+-------------------+
| 1.3615427017211914|0.48453789949417114|-0.8524075746536255|
|-0.4839438199996948| 1.6685774326324463|-0.6302737593650818|
|  0.783230721950531|  1.475182294845581|0.43646135926246643|
| 0.9232335686683655|  0.519090473651886|-1.6212221384048462|
|-0.4539290964603424|  2.352872848510742|0.03150284290313721|
+-------------------+-------------------+-------------------+
only showing top 5 rows

+-------------------+-------------------+-------------------+
|                dos|             cuatro|               seis|
+-------------------+-------------------+-------------------+
| 1.3615427017211914|0.48453789949417114|-0.8524075746536255|
|-0.4839438199996948| 1.6685774326324463|-0.6302737593650818|
|  0.783230721950531|  1.475182294845581|0.43646135926246643|
| 0.9232335686683655|  0.519090473651886|-1.6212221384048462|
|-0.4539290964603424|  2.352872848510742|0.03150284290313721|
+-------------------+-------------------+-------------------+
only showing top 5 rows

+-------------------+-------------------+-------------------+
|                dos|             cuatro|               seis|
+-------------------+-------------------+-------------------+
| 1.3615427017211914|0.48453789949417114|-0.8524075746536255|
|-0.4839438199996948| 1.6685774326324463|-0.6302737593650818|
|  0.783230721950531|  1.475182294845581|0.43646135926246643|
| 0.9232335686683655|  0.519090473651886|-1.6212221384048462|
|-0.4539290964603424|  2.352872848510742|0.03150284290313721|
+-------------------+-------------------+-------------------+
only showing top 5 rows


También podemos filtrar los datos que queremos mostrar con el método `filter()`, agrupar valores comunes con el método `groupby()`, u ordenar los datos con el método `sort()`.

In [13]:
#Nos quedamos con aquellas filas donde el valor del atributo "dos" es positivo.
dfTra.filter(dfTra.dos>0).show(5)

#Agrupamos los distintos valores de la variable de salida.
dfTra.groupby(dfTra['clase']).count().show()

#Ordenamos los valores del atributo "dos".
dfTra.select(dfTra[0], 'dos').sort('dos').show(5)

+------------------+-------------------+--------------------+-------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+-----+
|               uno|                dos|                tres|             cuatro|               cinco|                seis|              siete|               ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|         diecisiete|          dieciocho|clase|
+------------------+-------------------+--------------------+-------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+-----+
|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825| -0.8524075746536255|  1.145269513130188| 0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141| 1.4113106727600098|0.19226300716400146|  1.0|
|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489| 0.43646135926246643| 0.8689783811569214|  1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584| 0.6719890236854553|0.28056100010871887|  0.0|
|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128| -1.6212221384048462|0.38024044036865234| 0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247| 0.6731339693069458|0.19332100450992584|  0.0|
|1.4473743438720703|0.29060447216033936|  1.6244856119155884| 1.3687429428100586|  0.2262430042028427|-0.40477538108825684|  2.022763967514038|-1.0599849224090576| 2.8292150497436523|  1.5750445127487183|1.1832642555236816|1.4891462326049805|1.1167975664138794|                0.0|1.1833586692810059| 1.207862377166748| 1.2432576417922974|  0.216279998421669|  1.0|
|0.5680980086326599| 1.0594782829284668| -0.8490674495697021| 0.9032514095306396|  1.9275730848312378| -1.6048691272735596|0.38126319646835327| 0.2678464651107788|0.43256959319114685|-0.02526632882654667|0.6639859676361084|0.6715020537376404|0.8974404335021973| 1.3705472946166992|0.5882234573364258| 1.070039987564087|0.27877238392829895|0.04317919909954071|  0.0|
+------------------+-------------------+--------------------+-------------------+--------------------+--------------------+-------------------+-------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+-------------------+-------------------+-----+
only showing top 5 rows

+-----+-----+
|clase|count|
+-----+-----+
|  0.0| 5093|
|  1.0| 4907|
+-----+-----+

+-------------------+-------------------+
|                uno|                dos|
+-------------------+-------------------+
|0.46628621220588684|-2.0972509384155273|
| 0.4295693635940552| -2.097175121307373|
| 0.5944685339927673| -2.095888614654541|
| 0.6632121205329895|-2.0936601161956787|
| 0.9641727805137634|-2.0893547534942627|
+-------------------+-------------------+
only showing top 5 rows

###**4.2 Modificando los DataFrames.**

Con el método `withColumn()` se puede cambiar el tipo de una columna, cambiar sus valores  y también puede utilizarse para crear una nueva columna. Para cambiar el nombre de una columna lo haremos con el método  `withColumnRenamed()`.

Para eliminar una o varias columnas podemos usar el método `drop()` y con `dropDuplicates()` podemos eliminar aquellas filas que sean iguales, dejando sólo una de ellas.

Con el método `join()` podremos unir tablas.

In [14]:
#Vamos cambiar la variable clase de dfTra de Real a Entero
dfTra.withColumn("clase",dfTra.clase.cast("Integer")).show(5)

#Vamos a multiplicar por dos los valores de la primera columna de dfTra
dfTra.withColumn("uno",dfTra.uno*2).show(5)

#Vamos a añadir una columna con los valores de la primera columa de dfTra por 3
dfTra.withColumn("porTres",dfTra.tres*3).show(5)

#Vamos a cambiar el nombre de la variable clase label
dfTra.withColumnRenamed("clase","label").show(5)

#Voy a eliminar la primera columna de dfTra
dfTra.drop('uno').show(5)

#Voy a eliminar la primera columna de dfTra y luego eliminar filas repetidas
dfTra.drop('uno').dropDuplicates().show(5)

#Nota: para que el cambio fuera permanente tendría que guardarse (son inmutables)
#dfTra=dfTra.drop('uno').dropDuplicates()
#dfTra.show(5)

+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|    1|
|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|    1|
|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|    0|
|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|    0|
|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|    1|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 5 rows

+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|1.2866839170455933| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0|
|2.4749233722686768|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|
|2.6866259574890137|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|
|1.3062103986740112| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  0.0|
| 3.103329658508301|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  1.0|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 5 rows

+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+-------------------+
|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|            porTres|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+-------------------+
|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0| 2.0485112071037292|
|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|  4.140167713165283|
|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|-2.3858803510665894|
|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  0.0|-0.9582624435424805|
|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  1.0|  4.267976403236389|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+-------------------+
only showing top 5 rows

+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|label|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0|
|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|
|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|
|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  0.0|
|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  1.0|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 5 rows

+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase|
+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0|
|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|
|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|
| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  0.0|
|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  1.0|
+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+
only showing top 5 rows

+--------------------+--------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-----+
|                 dos|                tres|            cuatro|              cinco|               seis|             siete|                ocho|               nueve|               diez|              once|              doce|             trece|           catorce|             quince|          dieciseis|        diecisiete|          dieciocho|clase|
+--------------------+--------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-----+
|-0.02066096663475...|-0.35148099064826965|3.6056082248687744|-0.5600031614303589| 1.2318525314331055| 1.174253225326538|-0.33921247720718384|0.017000263556838036| 0.7123373746871948|2.4291250705718994|1.7667367458343506|0.6454152464866638|               0.0|  2.438508987426758|0.49580252170562744|1.1592260599136353|0.11882399767637253|  1.0|
| 0.06321011483669281| 0.42071348428726196|0.8139340877532959|  1.333505630493164|-0.1498633176088333| 4.630528450012207|   0.653083086013794|    2.76544189453125|  3.159876823425293|0.6791099309921265|1.1658343076705933|1.5234037637710571| 1.399927020072937| 0.8349520564079285| 1.9075227975845337|1.3335816860198975|  0.541329026222229|  1.0|
|  1.5953669548034668|   1.607389211654663|0.5569067597389221|  1.242787480354309| 1.4929640293121338|0.9677935242652893| 0.07558218389749527|    1.45277738571167|-0.5613475441932678|0.4073367714881897| 0.942797839641571|2.0539135932922363| 2.051363468170166|0.47274187207221985| 1.5272313356399536|1.1381853818893433| 0.6326349973678589|  0.0|
|  1.0783820152282715| -0.9710724949836731|0.7282233238220215| 0.6760023236274719|0.27052927017211914|0.7647109627723694|  0.5430238842964172|  0.5321421027183533|0.23676897585391998|0.4806082844734192|0.6727602481842041|1.2421841621398926|0.5911304950714111| 0.5014485120773315|  0.478081077337265|1.1363917589187622|0.41373899579048157|  0.0|
| 0.08728343993425369|  -1.397156834602356|1.6386557817459106| 0.9572954177856445|0.07612748444080353|1.2580804824829102|  0.9992135763168335|  1.8885339498519897|-0.9370012283325195|  1.24954354763031|1.4382648468017578|1.0214216709136963|1.9363576173782349| 1.3211030960083008| 1.6207401752471924|1.5357874631881714|0.06869559735059738|  1.0|
+--------------------+--------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+-------------------+------------------+-------------------+-----+
only showing top 5 rows

Veamos ahora un ejemplo de un `join` o unión cartesiana de DataFrames.

In [15]:
#Voy a añadir una nueva columna con el número de instancia
from pyspark.sql import functions
dftmp=dfTra.withColumn("id", functions.monotonically_increasing_id())
dftmp.show(5)

#En df1 me voy a quedar con todas las columnas menos la clase
lista=dftmp.columns[:-2]
lista.insert(0,"id")
df1=dftmp.select(lista)
df1.show(5)

#En df1 me voy a quedar con el id y la clase
df2=dftmp.select("id","clase")
df2.show(5)

#Voy a añadir la clase a la tabla de atributos usando el atributo "id"
df1.join(df2, df1.id == df2.id).show(5)

+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+---+
|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|clase| id|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+---+
|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  1.0|  0|
|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1.0|  1|
|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  0.0|  2|
|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  0.0|  3|
|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  1.0|  4|
+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+-----+---+
only showing top 5 rows

+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+
| id|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+
|  0|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|
|  1|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|
|  2|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|
|  3|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|
|  4|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+
only showing top 5 rows

+---+-----+
| id|clase|
+---+-----+
|  0|  1.0|
|  1|  1.0|
|  2|  0.0|
|  3|  0.0|
|  4|  1.0|
+---+-----+
only showing top 5 rows

+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
| id|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho| id|clase|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
|  0|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  0|  1.0|
|  1|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1|  1.0|
|  2|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  2|  0.0|
|  3|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  3|  0.0|
|  4|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  4|  1.0|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
only showing top 5 rows

##**5. APLICAR CONSULTAS SQL SOBRE DATAFRAMES.**

De forma análoga a como hemos trabajado con los DataFrames en el apartado anterior podemos hacerlo usando consultas SQL. Si el alumno tiene experiencia con SQL, usar SQL puede ser la mejor opción.

Para poder trabajar con los DataFrames como tablas tendremos que definir vistas con el método `createOrReplaceTempView()`. Una vez que hayamos definido una vista y usando el método `sql()` de la sesión, podremos trabajar cómodamente usando SQL.

In [16]:
#Creamos vistas SQL para los DataFrame
dfTra.createOrReplaceTempView("tablaTrain")
dfTst.createOrReplaceTempView("tablaTest")

#Mostramos las tablas que hay
spark.sql("SHOW TABLES").show()

#Equivalente a dfTra.select('dos','cuatro','seis').show(5)
sqlDF = spark.sql("SELECT dos,cuatro,seis FROM tablaTrain")
sqlDF.show(5)

#Equivalente a dfTra.groupby(dfTra['clase']).count().show(5)
spark.sql("SELECT clase, count(clase) FROM tablaTrain GROUP BY clase").show(5)

#Equivalente dfTra.select('uno', 'dos').sort('dos').show(5)
spark.sql("SELECT uno,dos FROM tablaTrain ORDER BY dos").show(5)

#Ejemplo join ci
df1.createOrReplaceTempView("tabla1")
df2.createOrReplaceTempView("tabla2")
#Equivalente a df1.join(df2, df1.id == df2.id).show(5)
spark.sql("SELECT * FROM tabla1,tabla2 WHERE tabla1.id == tabla2.id").show(5)

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|         | tablatest|       true|
|         |tablatrain|       true|
+---------+----------+-----------+

+-------------------+-------------------+-------------------+
|                dos|             cuatro|               seis|
+-------------------+-------------------+-------------------+
| 1.3615427017211914|0.48453789949417114|-0.8524075746536255|
|-0.4839438199996948| 1.6685774326324463|-0.6302737593650818|
|  0.783230721950531|  1.475182294845581|0.43646135926246643|
| 0.9232335686683655|  0.519090473651886|-1.6212221384048462|
|-0.4539290964603424|  2.352872848510742|0.03150284290313721|
+-------------------+-------------------+-------------------+
only showing top 5 rows

+-----+------------+
|clase|count(clase)|
+-----+------------+
|  0.0|        5093|
|  1.0|        4907|
+-----+------------+

+-------------------+-------------------+
|                uno|                dos|
+-------------------+-------------------+
|0.46628621220588684|-2.0972509384155273|
| 0.4295693635940552| -2.097175121307373|
| 0.5944685339927673| -2.095888614654541|
| 0.6632121205329895|-2.0936601161956787|
| 0.9641727805137634|-2.0893547534942627|
+-------------------+-------------------+
only showing top 5 rows

+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
| id|               uno|                dos|                tres|             cuatro|               cinco|               seis|              siete|                ocho|              nueve|                diez|              once|              doce|             trece|            catorce|            quince|         dieciseis|        diecisiete|          dieciocho| id|clase|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
|  0|0.6433419585227966| 1.3615427017211914|  0.6828370690345764|0.48453789949417114|-0.32587578892707825|-0.8524075746536255|  1.145269513130188|  0.8196632862091064|0.40248867869377136|   1.325475811958313|0.7232717275619507|0.6548330783843994|0.8034266233444214|0.37070924043655396|0.7308408617973328|0.5756281018257141|1.4113106727600098|0.19226300716400146|  0|  1.0|
|  1|1.2374616861343384|-0.4839438199996948|  1.3800559043884277| 1.6685774326324463|  0.4818389117717743|-0.6302737593650818| 0.6783822178840637|-0.43130290508270264|0.34755226969718933|-0.01465716026723...|1.3650861978530884| 1.040429711341858|0.6763473749160767| 0.6026328206062317|  1.36842942237854|0.7144116759300232|0.9274933934211731|0.16320399940013885|  1|  1.0|
|  2|1.3433129787445068|  0.783230721950531| -0.7952934503555298|  1.475182294845581|  0.6200259327888489|0.43646135926246643| 0.8689783811569214|   1.131447672843933| 0.3842912018299103|-0.49663621187210083|1.1656821966171265|1.3288121223449707|1.0115764141082764| 1.8998759984970093|1.1543011665344238| 1.430264949798584|0.6719890236854553|0.28056100010871887|  2|  0.0|
|  3|0.6531051993370056| 0.9232335686683655|-0.31942081451416016|  0.519090473651886|-0.06831558048725128|-1.6212221384048462|0.38024044036865234|  0.8473420143127441|0.30507954955101013|-0.00403195200487...|0.5825600624084473|0.5741020441055298|0.8745092153549194| 0.8703949451446533| 0.573835015296936|0.6802302598953247|0.6731339693069458|0.19332100450992584|  3|  0.0|
|  4|1.5516648292541504|-0.4539290964603424|  1.4226588010787964|  2.352872848510742|  0.7626277804374695|0.03150284290313721| 1.0506685972213745| -0.7840972542762756|  1.571985125541687| -0.7112254500389099|1.9744004011154175|1.5981488227844238|0.7182844281196594| 2.3227782249450684|1.9981735944747925|1.7646944522857666|   1.2172771692276|0.06346789747476578|  4|  1.0|
+---+------------------+-------------------+--------------------+-------------------+--------------------+-------------------+-------------------+--------------------+-------------------+--------------------+------------------+------------------+------------------+-------------------+------------------+------------------+------------------+-------------------+---+-----+
only showing top 5 rows